@import "bootstrap";

.administrator-commands
{
    margin-top: 10px;
}

.canvas-commands
{
    height: 50px;
    padding-top: 10px;
}

.container-fluid
{
    min-width: 575px;
}

.grab-cursor
{
    cursor: move;
    cursor: -moz-grab;
    cursor: -webkit-grab;
    /* ReSharper disable once InvalidValue */
    cursor: grab;
}

.grabbing-cursor
{
    cursor: move;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
    /* ReSharper disable once InvalidValue */
    cursor: grabbing;
}

.hidden {
    display: none;
}

.konvajs-content
{
    @include center-block;
}

.label-border {
    border-style: solid;
    border-width: 2px;
}

.moves
{
    text-align: center;
}

.no-wrap
{
    white-space: nowrap;
}

.points
{
    border-style: solid;
    border-width: 1px;
    display: inline-block;
    height: 20px;
    vertical-align: bottom;
    width: 30px;
}

.points
{
    text-align: center;
}

.your-color
{
    text-align: right;
}
