body,
button,
input
{
    /* Using native system fonts. https://medium.com/@mwichary/system-shock-6b1dc6d6596f. */
    font-family: -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
}

body
{
    background-color: #f7f7f7;
    margin: 0;
}

.color,
.points
{
    border-style: solid;
    border-width: 1px;
    display: inline-block;
    height: 20px;
    vertical-align: bottom;
    width: 30px;
}

.color
{
    border-color: #888; /* Same color as unit border. */
}

.grab-cursor
{
    cursor: move;
    cursor: -moz-grab;
    cursor: -webkit-grab;
    /* ReSharper disable once InvalidValue */
    cursor: grab;
}

.grabbing-cursor
{
    cursor: move;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
    /* ReSharper disable once InvalidValue */
    cursor: grabbing;
}

.hidden {
    display: none;
}

.moves
{
    text-align: center;
}

.player-commands
{
    background-color: white;
    height: 100px;
}

.player-commands-row
{
    margin-left: 10px;
    margin-right: 10px;
}

.player-commands-table
{
    width: 100%;
}

    .player-commands-table td
    {
        padding: 10px;
    }

.points
{
    text-align: center;
}

.your-color
{
    text-align: right;
}
