<div id="canvas"></div>
<div class="commands player-commands">
    <table class="player-commands-table">
        <tr>
            <td><button id="sendButton" class="send-button" onclick="cocaineCartels.sendCommands();">Send Moves</button></td>
            <td class="moves">Moves: <span id="numberOfMoves">0</span></td>
            <td class="your-color">Your color: <span id="playerColor" class="color"></span></td>
        </tr>
    </table>
    <div class="player-commands-row">
        <table>
            <tr>
                <td>Ready:</td>
                <td><span style="padding-left: 1em" id="playersStatus"></span></td>
            </tr>
            <tr>
                <td>Points:</td>
                <td><span style="padding-left: 1em" id="playersPoints"></span></td>
            </tr>
        </table>
    </div>
</div>
<div id="administratorCommands" class="commands administrator-commands" style="">
    <button onclick="cocaineCartels.performTurn();">Next Turn</button> &middot;
    <button id="startGameButton" onclick="cocaineCartels.startGame();">Start Game</button>
    <button onclick="cocaineCartels.resetGame();">Reset Game</button>
</div>
@section scripts
{
    <script>
        var cocaineCartels = new CocaineCartels.Main();
    </script>
}
