@{
    ViewBag.Title = "Cocaine Cartels";
}
<div id="canvas"></div>
<p>
    <button onclick="cocaineCartels.sendCommands();">Send Commands</button> &middot;
    <button onclick="cocaineCartels.performTurn();">Next Turn</button> &middot;
    <button onclick="cocaineCartels.simulateMove();">Move Units</button>
    <button onclick="cocaineCartels.simulateCombat();">Fight</button>
</p>
<p>
    <button onclick="cocaineCartels.startGame();">Start Game</button>
    <button onclick="cocaineCartels.resetGame();">Reset Game</button>
</p>
<p>Game started: <span id="gameStarted">unknown</span>.</p>
@section scripts
{
    <script>
        var cocaineCartels = new CocaineCartels.Main();
    </script>
}
