@using CocaineCartels.BusinessLogic
@using Newtonsoft.Json

<div id="unsupportedBrowserWarning" class="container">
    <div class="alert alert-danger alert-dismissible" style="margin-top: 10px;">
        <button type="button" class="close" onclick="$('#unsupportedBrowserWarning').hide();"><span>&times;</span></button>
        Your browser is unfortunately not supported. This prototype runs in Chrome, Firefox, Edge and Opera, but not Safari nor Internet Explorer.
    </div>
</div>
<div id="headerContainer" class="container-fluid">
    <div class="row">
        <div class="col-sm-3">
            <h4>Cocaine Cartels</h4>
            <p>Your color: <span id="playerColor" class="label">&nbsp;</span></p>
        </div>
        <div class="col-sm-9">
            <h1 id="turnModeHeader"></h1>
            <p id="turnModeDescription">Oh noes! An internal error occurred. (╯°□°)╯︵ ┻━┻</p>
        </div>
    </div>
</div>
<div id="gameStopped" class="container-fluid hidden">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <p style="margin-top: 40px">Players joined: <span id="startPlayersColors"></span></p>
            <p><span id="startNumberOfPlayers"></span> players have joined.</p>
            <p style="margin-top: 50px">
                <button id="allPlayersSeemToBeHereButton" onclick="cocaineCartels.allPlayersSeemToBeHereClicked();" class="btn btn-default btn-lg">All players are here</button>
            </p>
            <p>The game will start when everybody has pressed the button above.</p>
        </div>
    </div>
</div>
<div id="gameStarted" class="container-fluid hidden">
    <div class="row">
        <div class="col-sm-3">
            <div class="row">
                <div class="col-xs-12">
                    <h4>Points</h4>
                    <p id="playersPoints"></p>
                    <p style="margin-top: 30px">Turn number: <span id="turnNumber"></span></p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-height">
            <div id="canvasButtonsRow" class="row">
                <div class="col-xs-9">
                    <p id="replayButtonWrapper">
                        <button id="replayButton" onclick="cocaineCartels.replayLastTurn();" class="btn btn-default">Replay last turn <span class="glyphicon glyphicon-repeat"></span></button>
                    </p>
                </div>
                <div class="col-xs-3">
                    <p id="movesLeft" class="form-control-static">Moves: <span id="numberOfMovesLeft"></span></p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div id="interactiveCanvas"></div>
                    <div id="replayCanvas"></div>
                </div>
            </div>
        </div>
        <div class="col-sm-3 col-height">
            <div id="ownAlliances" class="row hidden">
                <div class="col-xs-12 text-right">
                    <h4>Alliances</h4>
                    <div id="ownAlliancesList"></div>
                </div>
            </div>
            <div id="allAlliances" class="row hidden">
                <div class="col-xs-12 text-right">
                    <h4>In the previous turn, the following players were allied:</h4>
                    <div id="allAlliancesList"></div>
                </div>
            </div>
            <div id="allianceProposals" class="row hidden">
                <div class="col-xs-12 text-right">
                    <h2>Propose alliances with:</h2>
                    <div id="allianceCheckboxes"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 text-right">
                    <div id="resetButton">
                        <h4 style="margin-top: 50px">Reset</h4>
                        <p>
                            <button class="btn btn-default" onclick="cocaineCartels.resetMoves();">Reset moves</button>
                        </p>
                    </div>
                    <h4 style="margin-top: 50px">Ready</h4>
                    <p>Players who are ready:<br/>
                    <span id="playersStatus"></span></p>
                    <p style="margin-top: 30px">
                        <button id="readyButton" class="btn btn-default btn-lg" onclick="cocaineCartels.readyButtonClicked();">I'm ready</button>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="administratorCommands" class="container-fluid administrator-commands">
    <button onclick="cocaineCartels.confirmResetGame();" class="btn btn-default btn-xs">Reset game</button>
</div>

@section beforeBundledScripts
{
    <script>
        var serverSideSettings = @Html.Raw(JsonConvert.SerializeObject(new Settings()));
    </script>
}

@section afterBundledScripts
{
    <script>
        var cocaineCartels = new CocaineCartels.Main();
    </script>
}
