<div id="canvas1"></div>
<div id="canvas2"></div>
<div id="canvas3"></div>
<div id="canvas4"></div>

<div id="playerCommands" class="container-fluid player-commands">
    <div class="row">
        <div class="col-xs-4">
            <p><button id="sendButton" class="btn btn-xs btn-primary" onclick="cocaineCartels.sendCommands();">Send Moves</button></p>
        </div>
        <div class="col-xs-4 text-center">
            <p id="moves">Moves: <span id="numberOfMoves">0</span></p>
        </div>
        <div class="col-xs-4 text-right">
            <p>Color: <span id="playerColor" class="label">&nbsp;</span></p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6">
            <p>Ready: <span id="playersStatus"></span></p>
        </div>
        <div class="col-xs-6">
            <p>Points: <span id="playersPoints"></span></p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-3 text-center">
            <button id="boardButton1" onclick="cocaineCartels.setActiveBoard(1);" class="btn btn-default">1</button>
        </div>
        <div class="col-xs-3 text-center">
            <button id="boardButton2" onclick="cocaineCartels.setActiveBoard(2);" class="btn btn-default">2</button>
        </div>
        <div class="col-xs-3 text-center">
            <button id="boardButton3" onclick="cocaineCartels.setActiveBoard(3);" class="btn btn-default">3</button>
        </div>
        <div class="col-xs-3 text-center">
            <button id="boardButton4" onclick="cocaineCartels.setActiveBoard(4);" class="btn btn-default">4</button>
        </div>
    </div>
</div>
<div id="administratorCommands" class="container-fluid administrator-commands">
    <button onclick="cocaineCartels.performTurn();" class="btn btn-default">Next Turn</button>
    <div class="btn-group">
        <button id="startGameButton" onclick="cocaineCartels.startGame();" class="btn btn-default">Start Game</button>
        <button onclick="cocaineCartels.confirmResetGame();" class="btn btn-default">Reset Game</button>
    </div>
</div>

@section scripts
{
    <script>
        var cocaineCartels = new CocaineCartels.Main();
    </script>
}
