@{
    ViewBag.Title = "Cocaine Cartels";
}
<div id="canvas"></div>
<p><a href="/api/start">Start Game</a> | <a href="/api/reset">Reset Game</a></p>
@section scripts
{
    <script>
        new CocaineCartels.Main();
    </script>
}
