@{
    ViewBag.Title = "Cocaine Cartels";
}
<div id="canvas"></div>
<div class="commands player-commands">
    <button class="send-button" onclick="cocaineCartels.sendCommands();">Send Commands</button>
    <span class="your-color">Your color: <span id="playerColor" class="color"></span></span>
</div>
<div class="commands administrator-commands">
    <button onclick="cocaineCartels.performTurn();">Next Turn</button> &middot;
    <button onclick="cocaineCartels.startGame();">Start Game</button>
    <button onclick="cocaineCartels.resetGame();">Reset Game</button> &middot;
    Started: <span id="gameStarted">unknown</span>
</div>
@section scripts
{
    <script>
        var cocaineCartels = new CocaineCartels.Main();
    </script>
}
