<div id="canvas"></div>

<div class="container-fluid player-commands">
    <div class="row">
        <div class="col-xs-4">
            <button id="sendButton" class="btn btn-xs btn-primary" onclick="cocaineCartels.sendCommands();">Send Moves</button>
        </div>
        <div class="col-xs-4 text-center">
            Moves: <span id="numberOfMoves">0</span>
        </div>
        <div class="col-xs-4 text-right">
            Color: <span id="playerColor" class="label">&nbsp;</span>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6">
            Ready:
            <span id="playersStatus"></span>
        </div>
        <div class="col-xs-6">
            Points:
            <span id="playersPoints"></span>
        </div>
    </div>
</div>
<div id="administratorCommands" class="container-fluid administrator-commands">
    <button onclick="cocaineCartels.performTurn();" class="btn btn-default">Next Turn</button>
    <div class="btn-group">
        <button id="startGameButton" onclick="cocaineCartels.startGame();" class="btn btn-default">Start Game</button>
        <button onclick="cocaineCartels.resetGame();" class="btn btn-default">Reset Game</button>
    </div>
</div>

@section scripts
{
    <script>
        var cocaineCartels = new CocaineCartels.Main();
    </script>
}
